@use 'sass:color';
// Palette de base
$blue:#06668C;
$lightblue:#427AA1;
$white:#EBF2FA;
$green:#679436;
$lightgreen:#A4BD01;





// $gray-light: color.scale($gray, $lightness: 5%);
// $green-darker: color.scale($green, $lightness: -30%);