@use 'sass:color';
// Palette de base
$blue:#06668C;
$lightblue:#427AA1;
$white:#EBF2FA;
$green:#679436;
$lightgreen:#A4BD01;

$white-darker: color.scale($white, $lightness: -8%);
$green-darker: color.scale($green, $lightness: -25%);