@use "../styles/vars";

.container {
    background-color: vars.$blue;
    width: 100vw;
    height: 9rem;
    position: fixed;
    padding: 0 3rem 0 3rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'goodtime';

    &Logo {
        width: 7rem;
        &:hover {
            cursor: pointer;
        }
    }

    &Title {
        text-transform: uppercase;
        font-size: 3.2rem;
        color: vars.$white-darker;
        text-shadow: 2px 1px 2px vars.$green;
    }

    &Navigation {
        border-bottom: 4px solid vars.$green;
        border-right: 4px solid vars.$green;
        border-radius: 10px;
        width: 10rem;
        padding-bottom: 0.8rem;

        &__logos {
            display: flex;
            align-items: center;
            gap: 2rem;
            // justify-content: space-around;
        }

        &__link {
            transition: all .2s ease;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 0;
                display: block;
                border-radius: 28px;
                background: rgba(vars.$green, .3);
                width: 26px;
                height: 26px;
                transition: all .3s ease;
            }
            &:hover::before {
                width: 85%;
                height: 100%;
                background: rgba(vars.$green, .5);
              }
        }

        & button {
            border: none;
            background-color: transparent;
            color: vars.$white-darker;
            padding-top: 0.4rem;
            font-size: 1.1rem;
            position: relative;
           
            &:hover {
                cursor: pointer;
            }
        }
    }
}