@use "../styles/vars";

.container{
    background-color: vars.$white;
    padding: 10.5rem 3rem 0;
    height: 100vh;
    color: vars.$green;
    font-family: 'noto';
    font-weight: bold;
    &Top{
        text-align: center;
        &__title {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 2rem;
            margin-bottom: 1rem;
            text-shadow: .5px .5px vars.$lightblue;
        }
    }
    & button{
        color: vars.$white;
        background-color: vars.$blue;
        border: none;
        border-radius: 10px;
        padding: 0.2rem 1.5rem 0.2rem 1.5rem;
        cursor: pointer;
    }
    &Cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
        color: vars.$green-darker;
    }
    &Card{
        width: 30%;
        margin: 2%;
        border: 2px solid vars.$blue;
        padding: 1rem;
        box-shadow: 4px 3px 3px vars.$lightblue;
        background-color: vars.$white-darker;
        
        & h3{
            margin-bottom: 1rem;
            padding-bottom: 0.4rem;
            font-size: 1.5rem;
            border-bottom: 1px solid vars.$blue;
            text-align: center;
        }
        &__choice{
            display: flex;
            justify-content: space-around;
            font-size: 1.2rem;
        }
        & button {
            padding: 0.2rem 1rem 0.2rem 1rem;
            width: 20%;
        }
        & span{
            margin-left: 40%;
            font-size: 1.2rem;
        }

    }
}