@use "../styles/vars";

.container {
    color: vars.$white;
    padding: 10.5rem 3rem 0;

    &Title {
        text-align: center;
        font-size: 3rem;
        color: vars.$white-darker;
        text-shadow: 2px 1px 2px vars.$green;
    }

    &Subtitle {
        text-align: center;
    }

    &Game {
        padding-top: 2rem;
        display: flex;
        height: 70vh;
    }
    &ResultAnnouncement{
        width: 50%;
    }
    &Playground {
        width: 50%;

        &__forms {
            height: 50%;
            display: flex;
            justify-content: center;
            gap: 10%;

            & input {
                background-color: vars.$green-light;

                &:focus {
                    background-color: vars.$green;
                }
            }

            & label {
                font-size: 2rem;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10%;
        }

        &__bottom {
            width: 80%;
            margin: auto;
            height: 50%;
            display: flex;
            gap: 10%;
        }

        &__bottomRight {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 10%;
        }

        &__announcement {
            height: 100%;
        }

        &__timer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10%;
            width: 50%;
            font-size: 1.5rem;
            text-align: center;
        }

        &__count {
            width: 50%;
            text-align: center;
            font-size: 3.5rem;
            font-weight: bold;

        }

        &__button {
            color: vars.$green;
            height: 2.5rem;
            font-size: 1.2rem;
            background-color: vars.$lightblue;
            text-shadow: 0.9px .9px .6px vars.$blue;
            border-radius: 10px;
            padding: 0.2rem 1.5rem 0.2rem 1.5rem;
            cursor: pointer;
            border: none;
            transition: 0.3s;
           

            &:hover {
                animation: pulse 1s;
                color: rgb(204, 25, 25);
                background-color: vars.$lightblue-light;
                box-shadow: 0 0 0 2rem transparent;
            }
        }
    }

    &Result {
        width: 50%;
        display: flex;
        padding-left: 2rem;
        text-align: center;

        &__team {
            width: 50%;

            & h2 {
                text-align: center;
                width: 50%;
                margin: auto;
                border-bottom: 2px solid vars.$green-light;
            }
        }

        &__position {
            padding-top: 1rem;

            & h3,
            h4 {
                font-size: 1.1rem;
                color: vars.$green-light;
                padding-bottom: 0.2rem;
                padding-top: 0.2rem;
            }
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 vars.$blue-light;
    }
}